.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center
}
.image{
    height: 400px;
    border-radius: 5px;
}
@media (max-width:768px) {
    .image{
        height: auto;
        width: 90%;
    }
}