.header{
    display: flex;
    height: 10vh;
    padding: 0 10px;
    gap: 10px;
    background-color: #282c34;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer{
    height: 10vh;
    background-color: #282c34;
}

@media (max-width:768px) {
    .header{
        justify-content: center;
    }
}